body, html{
  height:100%;
  background-image : url(src/bg.jpg);
  background-position : absolute;
  background-size : 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.jumpyDancer{
  border:10px solid #1DF00A;
    border-radius:10px;
    position:absolute;
}
.tempDancer{
  border:10px solid #D90AF0;
    border-radius:10px;
    position:absolute;
}

@-webkit-keyframes first {
    50% {
        margin-left: 1100px;
    }
}

@-webkit-keyframes second {
    50% {
        margin-top: 700px;
    }
}

@-webkit-keyframes third {
    50% {
        margin-top: 700px;
        margin-left: 1100px;
    }
}

@-webkit-keyframes fourth {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.dancer.first {
  -webkit-animation: first 3s linear;
}
.dancer.second {
  -webkit-animation: second 3s ease-in-out;
}

.dancer.third {
  -webkit-animation: third 3s ease-in;
}

.dancer.fourth {
  -webkit-animation: fourth 0.5s;
}