body, html{
  height:100%;
  background-image : url(src/bg.jpg);
  background-position : absolute;
  background-size : 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{

  position:absolute;
}
.jumpyDancer{
  border:10px solid #1DF00A;
    border-radius:10px;
    position:absolute;
}
.tempDancer{
  border:10px solid #D90AF0;
    border-radius:10px;
    position:absolute;
}

.lineUp {
  float:right;
  margin-left: auto;
  margin-right: auto;
}
.lineupbar {
  position: absolute;
  display: inline;
  height: 25px;
  width: 100%;
  top: 75%;
  background-color: black;
  z-index: 3;
}
.sam {
  background-image: url(src/samuel_jackson.png);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  display: block;
  float: left;
  z-index: 4;
}
.theCage{
  background-image: url(src/nicolas_cage.png);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  display: block;
  float: left;
  z-index: 4;
}
.nigel{
  background-image: url(src/nigel_thornberry.png);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  display: block;
  float: left;
  z-index: 4;
}
.lesia{
  background-image: url(src/lesia.gif);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  display: block;
  float: left;
  z-index: 4;
}
.rick{
  background-image: url(src/rick_santorum.png);
  background-size: 8em 8em;
  width: 8em;
  height: 8em;
  display: block;
  float: left;
  z-index: 4;
}
.tiltLeft{
  transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(7deg);
}
html {
  background: #333333;
  overflow: hidden;
}

@keyframes bounce {

}

